*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Josefin Sans', sans-serif;
}
body{
    height:100vh;
    max-width:1440px;
    margin:0 auto;
}
.desk-hero{
    display: none;
}
.img-logo{
    width: 30%;
    margin: 20px 30px;
}
.img{
    max-width: 100%;
}
.main-container{
    background-image:linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.info-container{
    text-align: center;
    height: 400px;
    max-width: 100%;
}
.infos{
    margin-top: 40px;
}
.infos h1{
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 2.0em;
    letter-spacing:  15px;
}
.infos p{
    color: hsl(0, 36%, 70%);
}
.infos span{
    color: hsl(0, 36%, 70%);
    font-size: 1em;
    line-height: 1.5em;
}

.email{
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-position:19rem;
}

#email-el{
    min-height:49px;
    border:1px solid hsl(0, 36%, 70%);
    padding-left:20px;
    border-radius:40px;
    font-size: 16px;
    background-color: hsl(0, 36%, 95%);
}
input:focus{
    outline: none;
}
input::placeholder{
    color: hsl(0, 36%, 70%);
}
button{
    width: 18%;
    height: 50px;
    position: absolute;
    right: 10px;
    border-radius:30px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/icon-arrow.svg), linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
.container-form .error{
    color:hsl(0, 36%, 70%);
    font-weight: bold;
    margin:10px;
}
button:hover{
    box-shadow: 1px 10px 30px grey ;
    cursor: pointer;
    background-image: url(images/icon-arrow.svg), linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
}


@media (max-width: 766px) {
    img{
        width: 100%;
    }
    main{
        height: 100vh;
    }
    .infos{
        margin-left: 20px;
    }
    .infos p{
        width: 90%;
        margin:20px 0;
    }
    .container-form{
        margin-top: 40px;
        
    }
    input[type="text"]{
        width:80%; 
        margin:0;
        position:relative;
        right: 30px;
    }
    button{
        position:absolute;
        right: 50px;
        width: 20%;
    }
    .container-form .error{
        margin:10px;
        text-align:left;
    }
}
@media (min-width: 767px){
    body{
        min-height: 100vh;
    }
    .main-container{
        width: 100%;
        margin: 0 auto;
        background-image: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        
    }
    .desk-hero{
        display:unset;
    }
    .mobile-hero{
        display: none;
    }
    .info-border{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-logo{  
        width: 100%;
        margin:0;
        padding-bottom: 50px;
    }
    .img-desktop{
        min-width: 100%;
    }
    .info-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 60%;
        min-height: 38rem;
    }
    .infos{
      text-align: left;
    }
    .infos h1{
        text-transform: uppercase;
        font-size: 3.2em;
        margin: 30px 0;
        line-height: 1.2em;
    }
    .infos p {
        width: 90%;
        margin:20px 0;
        line-height: 1.5em;
    }
    .main-container{
        display: flex;
    }
    input[type="text"]{
        width:80%; 
    }
    button{
        position:relative;
        top: -5px;
        right:60px;
    }
}

