*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Josefin Sans', sans-serif;
}

.img-logo{
    width: 30%;
    margin: 20px 30px;
}
.img{
    max-width: 100%;
}
.main-container{
    height: 100vh;
    background-image:linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}


.info-container{
    text-align: center;
    height: 400px;
    max-width: 100%;
}
.infos{
    margin-top: 40px;
}
.infos h1{
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing:  15px;
}
.infos p {
    margin: 18px;
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    line-height: 1.5em;
    
}
span{
    color:hsl(0, 36%, 70%);
    font-weight: 100
}

input[type="email"]{
    height:50px;
    width:90%;
    border:1px solid hsl(0, 36%, 70%);
    padding-left:20px;
    border-radius:40px;
}
input::placeholder{
    color: hsl(0, 36%, 70%);
}
button{
    width: 18%;
    height: 50px;
    position: fixed;
    right: 10px;
    border-radius:30px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/icon-arrow.svg), linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

button:hover{
    cursor: pointer;
    background-image: url(images/icon-arrow.svg), linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
}

@media screen and (max-width: 2000px) {
    img{
        width: 100%;
    }
}

